<?xml version = "1.0" encoding = "UTF-8"?>
<web-app >
  <welcome-file-list>    
    <welcome-file>skiStuff.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
  	<exception-type>java.lang.Throwable</exception-type>
  	<location>/error.jsp</location>
  </error-page>
  <!-- Servlets -->
  <servlet>
  	<servlet-name>dvServlet</servlet-name>
  	<servlet-class>dataV.DataVerifier</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>dvServlet</servlet-name>
  	<url-pattern>/dataVerifier</url-pattern>
  </servlet-mapping>
</web-app>
