<?xml version="1.0" encoding="iso-8859-1"?>
<web-app >
  <welcome-file-list>    
    <welcome-file>skiStuff.jsp</welcome-file>
  </welcome-file-list>

  <error-page>
  	<exception-type>java.lang.Throwable</exception-type>
  	<location>/error.jsp</location>
  </error-page>

  <servlet>
    <servlet-name>employeeFinderServlet</servlet-name>
    <servlet-class>transactS.EmpFinder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeFinderServlet</servlet-name>
    <url-pattern>/findEmpS</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>employeeDataVerifierServlet</servlet-name>
    <servlet-class>transactS.DataVerifierT</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeDataVerifierServlet</servlet-name>
    <url-pattern>/verifyAndSave</url-pattern>
  </servlet-mapping> 

  <servlet>
    <servlet-name>productDataVerifierServlet</servlet-name>
    <servlet-class>dataV.DataVerifier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productDataVerifierServlet</servlet-name>
    <url-pattern>/dataVerifier</url-pattern>
  </servlet-mapping> 


</web-app>